.input-box {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}
h1 {
    text-align: center;
    color: orange;
    text-decoration: underline;
}

input {
    margin: 2rem;
    padding: 1rem;
    border-radius: 8px;
    font-size: 15px;
    width: 15vw;
}

label {
    font-size: 25px;
}

button {
    padding: 1rem;
    margin: 0.8rem;
    border-radius: 8px;
    width: 20vw;
    background: cornflowerblue;

}

.button-box {
    display: flex;
    justify-content: center;
}

.error-alert {
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: 600;
}

.success-alert {
    text-align: center;
    font-size: 30px;
    color: green;
    font-weight: 600;
}